.todo-item{
    display: flex;
    justify-content: flex-end;
    padding:10px;
    margin:10px;
    background-color: azure;
    color:black;
    cursor:pointer;
    height: 30px;
    width:300px;
    border:1px solid blueviolet;
    border-radius: 5px;


}
.todo-item.done{
    background-color: aquamarine;

}


.delete-btn{
    width: 30px;
    text-align: center;
    border:1px solid blueviolet;
}
.todo-item.delete-btn{
    display: flex;
    flex-grow: 3;


    
}

