form{
    display: flex;
    justify-content: space-evenly;

}
.input.columns{
    display: flex;
    justify-content:flex-start;
   
 
    border-radius:10px;
}
input{
    border-radius:10px;
    height: 30px;
    width: 250px;
}
.input.button{
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 30px;
    width: 250px;
    
}
.buttonSave{
 background-color: rgb(130, 201, 177);
 cursor: pointer;
}
button{
    border-radius: 5px;
}