.wrap{
    display: flex;
    

}


.button{
    display: flex;
    margin:10px 10px;
    justify-content: space-evenly;
    width: 150px;
    flex-direction: row;
    border:2px solid grey;
    text-decoration: none;
    color:black;
    border-radius: 5px;
}
.button.active{
    background-color: rgb(236, 106, 31);
}